.wrapper {
    margin: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 31px;
}

.txt {
    font-size: clamp(12px, 2vw, 24px);
    text-align: justify;
    text-justify: inter-word;
}

@media  screen and (max-width: 768px) {
    .wrapper {
        margin: 20px 0;
        gap: 20px;
    }
}
