.wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
}

.author {
    font-size: 18px;
    line-height: 26px;
    max-width: 100px;
    text-align: right;
    font-weight: 500;

}

.avatar {
    max-width: 64px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    overflow: hidden;
}

